.form {
    display: flex;
    border: 1px solid gray;
    border-radius: 30px;
    height: 50px;
    padding: 5px;
    margin: 6px;
  }
  
  .input {
    color: #000000;
    border: none;
    border-radius: 30px;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 5px;
    display: inline-block;
    height: 50px;
    border-radius:30px;
    line-height: 40px;
    width: 10%;
  }