.messageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  }

  .bubble {
    margin-top: 0px;
    position: relative;
    font-family: sans-serif;
    line-height: 24px;
    max-width: 80%;
    background:#828282;
    border-radius: 20px;
    padding: 5px 20px;
    color: #fff;
  }

  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #828282;
    border-right: 12px solid transparent;
    border-top: 10px solid #828282;
    border-bottom: 12px solid transparent;
    left: 3px;
    bottom: -10px; 
  }

  .bubble-bottom-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 10px solid #2979FF;
    border-top: 12px solid transparent;
    border-bottom: 10px solid transparent;
    right: 3px;
    bottom: -7px;
  }
  
  .messageText {
    letter-spacing: 0;
     float: right;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
    content: "";
  }
  
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 20px;
  }
  
  .pr-10 {
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: #2979FF;
  }
  
  .backgroundLight {
    background: #F3F3F3;
  }